<% provide(:title, "All Toys")%>

<h1>Toys</h1>
<p>View listings.</p>
<%= link_to "Create new", new_toy_path, class: "btn btn-primary btn-lg" if logged_in? %>
<div class="container">
  <%= will_paginate %>

    <div class="row row-cols-3 g-3">
      <%= render @toys %>
    </div>

  <%= will_paginate %>
</div>
